@import url('https://use.fontawesome.com/releases/v6.0.0/css/all.css');
* { margin: 0; padding: 0; border: 0; outline: 0; font: inherit; box-sizing: border-box; }



@font-face {
    font-family: More Perfect DOS VGA; /* Имя шрифта */
    src: url(../fonts/MorePerfectDOSVGA.ttf); /* Путь к файлу со шрифтом */
}
*{
    margin: 0;
    padding: 0;
}

nav,
div{
    box-sizing: border-box;
}
.tetresGame nav,
.tetresGame div{
    box-sizing: content-box;
}
button{
    cursor: pointer;
}
body{
    font-family: More Perfect DOS VGA;
    background-color: #000;
    padding-top: 91px;
    padding-bottom: 58px;
    /** Old monitor eff **/
    animation: twitch 0.5s infinite;
    background: repeating-linear-gradient(0deg, #000, #000 2px, #020 2px, #020 4px);
    -webkit-animation: twitch 0.5s infinite;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-x: hidden;
}

/** Add old monitor efects **/
body > * {
    animation: flicker 0.001s infinite;
    -webkit-animation: flicker 0.001s infinite;
    
}

.tetresGame{
    display: none;
}
.copyRight{
    margin-right: 5px;
    max-width: 20px;
}
.content_page{
    /* min-height: calc(100vh - 180px); */
    height: calc(100vh - 180px);
    overflow-y: scroll;
}
.services_block.content_page{
    height: auto;
    padding-bottom: 0;
    margin-bottom: 0;
    flex-grow: 1;
}
.main_header{
    height: 34px;
    width: 100%;
    background-color: #009F99;
    font-size: 32px;
    line-height: 35px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-bottom: 2px solid #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
}
.main_header::after,
.main_header::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background: url(../img/pattern.png);
    width: calc(100% / 3);
    width: 492px;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main_header::after{
    left: unset;
    right: 0;
}
.main_nav{
    background-color: #009F99;
    height: 32px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
    position: fixed;
    top: 34px;
    z-index: 5;
}
.main_nav .contact_modalBtn,
.main_nav .menu_btn{
    font-size: 28px;
    line-height: 145.5%;
    text-decoration: none;
    color: #000;
    padding-left: 20px;
    padding-right: 20px;
}
.main_nav.showMenu .menu_btn{
    background: #000;
    color: #fff;
}

.main_nav .menu_list{
    position: absolute;
    left: 0;
    top: 100%;
    background: #009BA2;
    padding: 32px 20px 13px 20px;
    width: 453px;
    z-index: 1;
    display: none;
}
.main_nav.showMenu .menu_list{
    display: block;
}
.main_nav .menu_list::before{
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    bottom: 5px;
    right: 5px;
    border: 5px solid #000000;
}
.main_nav .menu_list li{
    position: relative;
    list-style: none;
}
.main_nav .menu_list li a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    text-decoration: none;
    font-family: More Perfect DOS VGA;
    font-size: 28px;
    line-height: 145.5%;
    padding-left: 20px;
    padding-right: 20px;
    background: transparent;
}
.main_nav .menu_list li a:hover,
.main_nav .menu_list li.active a{ 
    background-color: #000;
}
.main_nav .menu_list li:last-child{
    border-top: 5px solid #000000;
}
.main_nav_right{
    display: flex;
}
.main_nav_right .contact_modalBtn{
    margin-right: 0px;
}
.social_list{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.social_list li{
    list-style: none;
    margin-right: 4px;
    height: 32px;
}
.social_list li:last-child{
    margin-right: 0;
}
.social_list li a{
    width: 35px;
    height: 32px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 35px;
    text-decoration: none;
    text-align: center;
}
.social_list a.list_ml{
    font-size: 25px;
}
.services_block{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-left: 57px;
    padding-right: 57px;
    padding-top: 65px;
    margin-bottom: 80px;
}
.services_block .services_item{
    width: 292px;
    box-sizing: border-box;
    height: 125px;
    margin-right: 40px;
    border: 5px solid #00FF29;
    text-align: center;
    text-decoration: none;
    margin-bottom: 49px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.services_block .services_item .services_item_img{
    width: 112.5px;
    position: absolute;
    top: -20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: #000;
 }
 .services_block .services_item:nth-child(4) .services_item_img{
    top: -13px;
}
.services_block .services_item::before{
    content: '';
    position: absolute;
    top: 5px;
    left: 10px;
    right: 10px;
    bottom: 5px;
    border: 5px solid #00FF29;
}
.services_block .services_item h6{
    font-size: 32px;
    line-height: 145.5%;
    color: #00FF29;
    margin-top: 30px;
}
.services_block .services_item:nth-child(4n){
    margin-right: 0;
}
.beforeFooter{
    font-size: 32px;
    line-height: 145.5%;
    color: #00FF29;
    padding-left: 50px;
}

.breadcrumb__text {
    height: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: inline-block;
    width: fit-content;
    max-width: 300px;
    position: absolute;
}

.breadcrumb__mask {
    position: absolute;
    left: 0;
}

.breadcrumbs form {
    position: relative;
}

.breadcrumb___ {
    position: absolute;
    left: 1px;
    top: 0;
    animation: br_ 0.3s infinite;
    -webkit-animation: br_ 0.3s infinite;
}

.form_quote .breadcrumb___,
.form_quote .breadcrumb__mask,
.form_quote .breadcrumb__text {
    font-size: 25px;
    background-color: transparent;
    letter-spacing: 0px;
    z-index: -1;
}

.input_style{
    background: transparent;
    border: none;
    font-size: 32px;
    line-height: 145.5%;
    color: #00FF29;
    font-family: More Perfect DOS VGA;
    caret-color: #00FF29;
    width: 94%;
    max-width: 300px;
}

@keyframes br_ {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.input_style:focus{
    outline: none;
}

.input_style::placeholder{
    font-size: 32px;
    line-height: 145.5%;
    color: #00FF29;
    font-family: More Perfect DOS VGA;
}
.main_footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 20px;
    padding-right: 25px;
    z-index: 4;
}
.main_footer_list{
    display: flex;
    counter-reset: li;
    margin-bottom: 10px;
}
.main_footer_list li{
    margin-right: 20px;
    list-style: none;
    counter-increment: li;
}
.main_footer_list li::before{
    content: counter(li); 
    color: #fff;
    font-size: 40px;
    line-height: 145.5%;
    font-family: More Perfect DOS VGA;
}
.main_footer_list li a{
    background-color: #009BA2;
    color: #000;
    font-size: 32px;
    height: 100%;
    line-height: normal;
    padding-right: 30px;
    text-decoration: none;
    display: inline-flex;
	line-height: 25px;
}



/* modal */
.modal_container{
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	display: none;
	align-items: center;
    justify-content: center;
    z-index: 9;
}
.modal_container.showModal{
    display: flex;
    z-index: 9999;
}
.modal{
	width: 695px;
	height: 400px;
	background: #C4C4C4;
	box-shadow: 40px 57px 0px rgba(0, 0, 0, 0.8);
    padding-top: 54px;
    padding-left: 51px;
    padding-bottom:85px;
    padding-right: 51px;
    margin: auto;
    position: relative;
}
.modal.leaveModal{
   height: 506px;
}
.modal:after,
.modal:before{
	content: '';
    position: absolute;
    left: 5px;
    top: 14px;
    right: 3px;
    bottom: 14px;
    border: 5px solid #000;
}
.modal:after{
    left: 12px;
    top: 22px;
    right: 12px;
    bottom: 22px; 
}
.modal_title{
	position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    right: 0;
    justify-content: center;
}
.modal_title span{
    min-width: 355px;
    text-align: center;
    font-size: 35px;
    line-height: 145.5%;
    background: #C4C4C4;
    padding-left: 10px;
    padding-right: 10px;
}
.modal.leaveModal .modal_frame{
    padding-top: 25px;
    position: relative;
}
.modal_frame{
	overflow-y: auto;
	overflow-x: hidden;
    position: relative;
    z-index: 1;
    padding-right: 10px;
}
.modal.leaveModal .form-group{
    padding-bottom: 10px;
}
.modal.leaveModal .form-group:last-child{
    padding-top: 12px;
}

.modal.leaveModal .form-group .btn_request{
    display: flex;
    color: #000;
    justify-content: center;
    margin-left: 12px;
    width: 100%;
}
.modal_frame p{
	font-size: 25px;
	line-height: 129%;
    padding-top: -5px;
}
.modal_frame .contacts_social{
    font-size: 32px;
    line-height: 145.5%;
    padding-top: 70px;
    display: flex;
    justify-content: space-between;
}
.modal_frame .contacts_social a{
    color: #000;
    text-decoration: none;
}
.modal_frame .contacts_social .social_list{
    width: 149px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modal_frame .contacts_social .social_list  a{
    color: #000;
    font-size: 35px;
    line-height:22px;
    text-decoration: none;
}
.modal_frame .contacts_social .social_list .gitLink{
    font-size: 25px;
    line-height: 145.5%;
    letter-spacing: -0.2em;
}
.modal_frame .form_quote:after,
.modal_frame .form_quote:before{
    color: #000;
}
.modal_frame .form_input, .modal_frame .form_input::placeholder{
    color: black !important;
}
input:-moz-placeholder,input::-moz-placeholder,input::-webkit-input-placeholder { 
  line-height:normal!important;
}
.modal_frame .form_message{
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    width: auto;
    height: 100%;
}
.modal_footer{
	border-top: 4px solid #000000;
    font-size: 25px;
    line-height: 145.5%;
    width: 90%;
    position: absolute;
    z-index: 1;
    height: 57px;
    background: #C4C4C4;
    left: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.modal_frame::-webkit-scrollbar {
    width: 21px;

}
/* Track */
.modal_frame::-webkit-scrollbar-track {
    background-image: url(../img/scrollpattern.png);
    background-color: #C4C4C4;
    background-position: left;
}

/* Handle */
.modal_frame::-webkit-scrollbar-thumb {
    background-image: url(../img/scrollpatternbtn.png);
    background-size: contain;
    background-repeat: repeat-y;
    width: 21px;
    height: 39px;
}
/* Buttons */
.modal_frame::-webkit-scrollbar-button:single-button {
    display: block;
    border-style: solid;
    height: 40px;
    width: 21px;
    background-size: cover;
    background-position: center;
}
.modal_frame::-webkit-scrollbar-button:single-button:vertical:decrement {
  background-image: url(../img/arrowup.jpg);
}
.modal_frame::-webkit-scrollbar-button:single-button:vertical:increment {
  background-image: url(../img/arrowdown.jpg);
}

/*modal submit */
.modal_submit_container{
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	display: none;
	align-items: center;
    justify-content: center;
    z-index: 9;
}
.modal_submit_container.showModal{
    display: flex;
}
.modal_submit:before{
	position: absolute;
    content: "";
    left: 2px;
    right: 2px;
    top: 3px;
    bottom: 2px;
    border: 5px solid black;
}
.modal_submit{
    width: 775px;
    height: 305px;
    background: #009F99;
    box-shadow: 40px 57px 0px rgba(0, 0, 0, 0.8);
    padding: 10px 11px;
    margin: auto;
    position: relative;
}
.modal_submit_frame{
    width: 753px;
    height: 285px;
    border: 5px solid #000000;
    box-sizing: border-box;
    position: relative;
}
.modal_submit_title{
	position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    top: -35px;
    text-align: center;
}
.modal_submit_title span {
	width: 240px;
    background: #000000;
    font-size: 32px;
    line-height: 145.5%;
    color: #009F99;
    padding-top: 6px;
}
.modal_submit_body{
	font-size: 25px;
    line-height: 145.5%;
    color: #000000;
    padding-top: 82px;
    text-align: center;
}
.modal_submit_buttons{
	margin: 0 auto;
	margin-top: 40px;
	width: 416px;
	display: flex;
	justify-content: space-between;
}
.btn{
	font-family: "More Perfect DOS VGA";
	width: 134px;
	height: 39px;
	font-size: 25px;
	line-height: 145.5%;
	border: none;
}
.btn_no{
	background: #FFFFFF;
    box-shadow: 14px 15px 0px rgba(0, 0, 0, 0.6);
    text-decoration: none;
    text-align: center;
    color: #000;
}
.btn_yes{
	background: #FDFE28;
    box-shadow: 14px 15px 0px rgba(0, 0, 0, 0.6);
    text-decoration: none;
    text-align: center;
    color: #000;
}
.playlist.hidden{
    display: none;
}


/* test */
.eggs_container{
	padding: 43px 45px;
}
.eggs_loader{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    widows: 100%;
    height: 100%;
    background-color: black;
}
.eggs_container p{
	font-size: 32px;
	line-height: 145.5%;
	color: #00FF29;
	overflow: hidden;
	white-space: nowrap; 
	letter-spacing: .15em; 
	animation: typing 1s steps(100) forwards;
	width: 0px;
}
.eggs_container h6{
	font-size: 32px;
	line-height: 145.5%;
	color: #00FF29;
	overflow: hidden;
	white-space: nowrap; 
	letter-spacing: .15em; 
	font-weight: normal;
	font-family: More Perfect DOS VGA;
}
.eggs_container p:nth-of-type(1){
	animation-delay: 2.5s;
}
.eggs_container p:nth-of-type(2){
	animation-delay: 3.5s;
}
.eggs_container p:nth-of-type(3){
	animation-delay: 4.5s;
}
.eggs_container p:nth-of-type(6){
	animation-delay: 5.5s;
}
/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
/*@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}
*/
.breadcrumb_section{
    position: static;
    bottom: 57px;
    width: 100%;
    background-color: black;
    margin-top: 10px;
}
.main_footer {
    background-color: black;
}
.breadcrumb_container{
	padding-left: 50px;
}
.blogs_container{
	color: #00FF29;
    padding: 47px 48px;
    font-size: 32px;
    padding-right: 0;
}
.blogs_container_content.pageScroll{
    /* height: calc(100vh - 350px); */
    height: auto;
}
.blogs_container_content{
    /* height: calc(100vh - 350px); */
    height: auto;
    overflow: auto;
    padding-right: 48px;
}
/* Track */
body::-webkit-scrollbar{
    width: 0;
}
.services_block.content_page::-webkit-scrollbar{
    width:0px;
}
.content_page::-webkit-scrollbar{
    width:21px;
}
.blogs_container_content::-webkit-scrollbar {
    width: 21px;

}
.content_page::-webkit-scrollbar-track,
.blogs_container_content::-webkit-scrollbar-track {
    background-image: url(../img/scroll-.png);
    background-color: transparent;
    background-position: center top;
    background-repeat: repeat-y;
    background-size: contain;
}

/* Handle */
.content_page::-webkit-scrollbar-thumb,
.blogs_container_content::-webkit-scrollbar-thumb {
    background-image: url(../img/scrollX.png);
    background-size: contain;
    background-repeat: repeat-y;
    width: 21px;
    height: 39px;
}
/* Buttons */
.content_page::-webkit-scrollbar-button:single-button,
.blogs_container_content::-webkit-scrollbar-button:single-button {
    display: block;
    border: none;
    height: 40px;
    width: 21px;
    background-size: cover;
    background-position: center;
    background-color: #000;
}
.content_page::-webkit-scrollbar-button:single-button:vertical:decrement,
.blogs_container_content::-webkit-scrollbar-button:single-button:vertical:decrement {
  background-image: url(../img/upScollBtn.png);
}
.content_page::-webkit-scrollbar-button:single-button:vertical:increment,
.blogs_container_content::-webkit-scrollbar-button:single-button:vertical:increment {
  background-image: url(../img/downScollBtn.png);
  background-color: #000;
}
.blogs_title li{
	line-height: 2em;
	list-style-position: inside;
}
.blogs_title li a{
	color: #00FF29;
	text-decoration: none;
}
.modal_submit_container.mobile_modal.showModal{
    display: none;
}
.breadcrumbs{
	font-size: 32px;
    line-height: 145.5%;
    color: #00FF29;
    display: flex;
    list-style: none;
}
.breadcrumbs  a {
    color: #00FF29;
    text-decoration: none;
}
.blogs_container p{
	margin-top: 45px;
    line-height: 145.5%;
}

.connect_form{
	padding-top: 70px;
}

.form_title{
	font-size: 25px;
	font-weight: 500;
	padding-bottom: 40px;
}
.form-group label{
	font-size: 25px;
}
.form_message{
	width: 545px;
}
.form-group{
    display: flex;
    justify-content: space-between;
    line-height: 145.5%;
    align-items: center;
}
.form_input{
    width: 330px;
    border: none;
    color:#00FF29;
    font-size: 25px;
    background-color: transparent;
}
.form_input:focus{
	outline: none;
}
.form_input::placeholder{
    color: #00FF29;
    line-height: 2em;
}
.form_quote{
	position: relative;
}
.form_quote:before{
	content: '[';
    left: -11px;
    position: absolute;
    color: #00FF29;
    font-size: 25px;
}
.form_quote:after{
	content: ']';
    right: -11px;
    position: absolute;
    color: #00FF29;
    font-size: 25px;
}
.btn_request{
    font-size: 25px;
    line-height: 145.5%;
    color: #00FF29;
    border: none;
    background-color: transparent;
    font-family: More Perfect DOS VGA;
    padding-top: 60px;
}
.btn_request:focus{
	outline: none;
}
.modal_frame::-webkit-scrollbar {
    width: 21px;
}
.loader{
	font-family: More Perfect DOS VGA;
	font-size: 32px;
	line-height: 145.5%;
	color: #00FF29;
	padding-left: 11px;
	padding-right: 29px;
	position: fixed;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
    background-color: black;
    z-index: 9;
}
.group_techno_text{
    letter-spacing: 15px;
}
.group_techno_number{
	width: 350px;
	display: flex;
	justify-content: space-between;
}
.mt-50{
    padding-top: 50px;
}
.copyright_year{
	padding-left: 250px;
}
.group_techno_welcome p{
	overflow: hidden;
	white-space: nowrap;
	letter-spacing: .15em;
	width: 0px;
	animation: typing .3s steps(100) forwards;
	-webkit-animation: typing .3s steps(100) forwards;
}

.group_techno_webdesign p{
	overflow: hidden;
	white-space: nowrap;
	letter-spacing: .15em;
	width: 0px;
	animation: typing .1s steps(100) forwards;
	animation-delay: .3s;
	-webkit-animation: typing .1s steps(100) forwards;
}

.group_techno_version p{
	overflow: hidden;
	white-space: nowrap; 
	letter-spacing: .15em; 
	width: 0px;
	animation: typing .2s steps(100) forwards;
	animation-delay: .4s;
}
.group_techno_device_driver p{
	overflow: hidden;
	white-space: nowrap;
	letter-spacing: .15em;
	width: 0px;
	animation: typing .1s steps(100) forwards;
	animation-delay: .8s;
	-webkit-animation: typing .1s steps(100) forwards;
}

.group_techno_startup p{
	overflow: hidden;
	white-space: nowrap; 
	letter-spacing: .15em; 
	width: 0px;
	animation: typing .2s steps(100) forwards;
	animation-delay: .9s;
}

.group_techno_loaded p{
	overflow: hidden;
	white-space: nowrap;
	letter-spacing: .15em;
	width: 0px;
	animation: typing .3s steps(100) forwards;
	-webkit-animation: typing .3s steps(100) forwards;
	animation-delay: 1.1s;
}

.group_techno_loading_files p{
	overflow: hidden;
	white-space: nowrap;
	letter-spacing: .15em;
	width: 0px;
	animation: typing .6s steps(100) forwards;
	-webkit-animation: typing .6s steps(100) forwards;
	animation-delay: 1.4s;
}

.text__link {
    color: #000;
    background-color: #00FF29;
}

/*** Invert effects after selection text  ***/
section * ::selection{
    color: #020;
    background-color: #00FF29;   
}

header *::selection,
nav *  ::selection {
    color: #009F99 ;
    background-color: #000;
}
.main_footer_list li a{
    display: flex;
    align-items: flex-start;
    width: 115px;
    padding-right: 0;
}
.main_footer_list li{
    display: flex;
    width: fit-content;
    align-items: center;
}
.main_footer_list li a{
    display: flex;
    align-items: flex-start;
    width: 115px;
    padding-right: 0;
}
.main_footer_list li::before{
    font-size: 40px;
    letter-spacing:-4px;
}

.main_footer_list{
    height: 32px;
}
.main_footer_list li:last-child{
    margin-right: 0;
}
/******************************/
@media (max-width: 1600px){
    
}

@media (min-width: 1441px){
    .services_block {
        justify-content: space-between;
    }
    .services_block .services_item {
        width: calc(25% - 50px);
        height: 150px;
    }
}
@media (max-width: 1250px){
    .services_block .services_item {
        width: calc(100% / 3 - 4.5%);
        margin-right: 5%;
    }
}
@media (max-width: 1199px){
    .main_footer_list{
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .main_footer_list li{
        width: auto;
        margin-right: 15px;
        margin-bottom: 20px;
    }
    .main_footer_list li a{
        padding-right: 30px;
    }
}
@media (max-width: 1050px){
    .services_block .services_item {
        width: 47%;
        margin-right: 1%;
    }
    .services_block .services_item:nth-child(3n){
        margin-right: 1%;
    }
    .services_block .services_item:nth-child(2n){
        margin-right: 0%;
    }
    .services_block{
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .modal_submit{
        max-width: 775px;
        width: 100%;
    }
    .modal_submit_frame{
        width: 100%;
    }
}
@media (max-width: 750px){
    .main_nav {
        top: 35px;
    }
    .social_list{
        display: none;
    }
    .main_nav_right .contact_modalBtn{
        margin-right: 0;
    }
    .main_nav .contact_modalBtn, .main_nav .menu_btn{
        font-size: 16px;
    }
    .main_nav{
        height: 19px;
    }
    .main_header{
        height: 32px;
    }
    .services_block{
        padding: 30px 12px;
    }
    .services_block .services_item .services_item_img{
        padding-left: 5px;
        padding-right: 5px;
        width: 112px;
        top: -25px;
    }
    .services_block .services_item:nth-child(4) .services_item_img{
        top: -13px;
    }
    .services_block .services_item .services_item_img img{
        max-width: 102px;
    }
    .beforeFooter{
        font-size: 16px;
        padding-left: 16px;
    }
    .input_style,
    .breadcrumbs{
        font-size: 16px;
    }
    .breadcrumb_container{
        padding-left: 16px;
    }
    .main_footer{
        margin-top: 60px;
        padding-left: 13px;
        padding-right: 6px;
        position: relative;
    }
    
    .main_footer_list li a{
        font-size: 16px;
        padding-right: 8px;
    }
    .main_footer_list li::before{
        font-size: 25px;
    }
    .main_footer_list li{
        margin-right: 12px;
    }
    .modal_frame{
        padding-right: 20px;
    }
    .modal.leaveModal{
        padding-left: 25px;
    }
    .modal.leaveModal .modal_frame{
        padding: 15px 0;
    }
    .modal_frame .form-group label,
    .modal_frame p{
        font-size: 16px;
    }
    .modal.leaveModal  .modal_frame .form-group {
        align-items: flex-start;
        flex-direction: column;
    }
    .modal_frame .form_message{
        margin-top: 5px;
    }
    .modal.leaveModal .form-group .btn_request{
        font-size: 16px;
    }
    .modal.leaveModal  .form_quote{
        margin-left: 8px;
    }
    .modal_submit_body{
        padding-left: 20px;
        padding-right: 20px;
        font-size: 16px;
    }
    .modal_submit_container.mobile_modal{
        background: linear-gradient(to top, #000 90%, transparent 50%);
    }
    .modal_submit_container.mobile_modal .modal_submit_body{
        padding-top: 65px;
        text-align: left;
    }
    .modal_submit_container.mobile_modal .modal_submit_body p{
        margin-bottom: 15px;
    }
    .modal_submit_container.mobile_modal  .modal_submit_title{
        top: -25px;
    }
    .modal_submit_container.mobile_modal  .modal_submit .modal_submit_frame{
        height: 100%;
    }
    .modal_submit_container.mobile_modal  .modal_submit{
        height: 432px;
    }
    .modal_submit_container.mobile_modal .modal_submit_buttons{
        flex-direction: column;
        align-items: center;
    }
    .modal_submit_container.mobile_modal .modal_submit_buttons .btn{
        width: 171px;
        margin-bottom: 20px;
    }
    .btn_yes,
    .btn_no{
        font-size: 16px;
        width: 83px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .modal_submit_buttons{
        width: 223px;
    }
    .modal_submit_title span{
        font-size: 20px;
        width: 178px;
    }
    .blogs_container,
    .eggs_container{
        padding: 11px 12px;
    }
    .form-group label,
    .form_title,
    .blogs_title li,
    .blogs_container p,
    .eggs_container p{
        font-size: 16px;
        margin-top: 0;
        padding-bottom: 0;
    }
    .connect_form{
        padding-top: 10px;
    }
    .form-group{
        display: flex;
        justify-content: space-between;
        line-height: initial;
        align-items: flex-start;
        flex-direction: column;
        margin-top: 5px;
    }
    .form_quote{
        margin-left: 10px;
    }
    .btn_request{
        font-size: 20px;
    }
    .blogs_container_content.pageScroll{
        height: auto;
    }
    .loader{
        display: none;
    }
    .modal_submit_container.mobile_modal{
        display: none;
    }
    .modal_submit_container.mobile_modal.showModal{
        display: flex;
    }
    .tetresGame.play{
        display: block;
        position: fixed;
        top: 53px;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        background-color: #000;
        z-index: 4;
    }
    .copyRight{
        max-width: 14px;
    }
}
@media (max-width: 650px){
    .services_block .services_item{
        width: 100%;
        margin-right: 0;
    }
    .main_header::after, .main_header::before{
        width: 50px;
    }
    .main_nav .contact_modalBtn{
        padding: 0;
    }
    .modal_frame p{
        font-size: 16px;
    }
    .modal{
        padding-left: 25px;
    }
    .modal_footer{
        left: 18px;
        right: 18px;
        width: auto;
        font-size: 20px;
        text-align: center;
    }
    .modal_title span{
        min-width: 200px;
        font-size: 20px;
        top: 5px;
    }
    .modal_frame .contacts_social{
        font-size: 16px;
    }
    .modal_frame .contacts_social{
        flex-direction: column;
    }
    .modal_frame .form-group{
        line-height: 110%;
    }
    .modal.leaveModal .modal_frame{
        padding-top: 0;
    }
    .form_input{
        width: 100%;
        max-width: 230px;
    }
    .form_message{
        width: 100%;
    }
    
}
@media (max-width: 460px){
    .main_nav .menu_list{
        width: 100%;
        padding: 15px;
        box-sizing: border-box;
    }
    .main_nav .menu_list li a{
        font-size: 18px;
        padding-left: 5px;
        padding-right: 5px;
    }
}
.score_label{
    margin-top: 2px;
    margin-right: auto;
    margin-left: 20px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}
.score_label .frame{
    margin-left: 10px;
}
@media (max-width: 370px){
    #outer-board{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #board{
        margin: 0px;
    }
    #stats{
        width: 100%;
        display: flex;
        justify-content: space-between;
        height: auto;
        margin-top: 0;
        max-width: 300px;
        margin: 0;
    }
    .btn_game {
        width: 30px;
        height: 30px;
        padding: 0;
        border-radius: 50%;
        margin: 3px;
    }

}

@media (max-width: 330px){
    #outer-board{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 20px;
    }
    #board{
        margin: 0px;
    }
    #stats{
        width: 100%;
        display: flex;
        justify-content: space-between;
        height: auto;
        margin-top: 0;
        max-width: 300px;
        margin: 0;
        margin-left: -14px;
    }
    .btn_game {
        width: 30px;
        height: 30px;
        padding: 0;
        border-radius: 50%;
        margin: 3px;
    }
}



/*** Animation for old monitor effects  ***/

@keyframes flicker {
    0% {
      opacity: 0.8;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes blipIn {
    0% {
      height: 0;
    }
    100% {
      height: auto;
    }
  }
  
  @keyframes spin {
    0% {
      transform: rotate3d(0,1,1,360deg);;
    }
    100% {
      transform: rotate3d(360deg);
    }
  }
  
  @keyframes scan {
    0% {
    }
    100% {
      height: 100%;
      width: 100%;
    }
  }
  
  @keyframes twitch {
    0% {
        padding: 0px;
        padding-top: 91px;
        padding-bottom: 58px;
    }
    50% {
      padding: 0px;
      padding-top: 91px;
    padding-bottom: 58px;
    }
    51% {
      padding: 1px;
      padding-top: 92px;
    padding-bottom: 59px;
    }
    50% {
      padding: 0px;
      padding-top: 91px;
    padding-bottom: 58px;
    }
    100% {
      padding: 0px;
      padding-top: 91px;
    padding-bottom: 58px;
    }
  }
  
  @media screen and (max-width: 700px) {  
       .screen {
          display: block;
      }
      .buttonGroup {
        width: auto;
        padding: 0 10px;
      }
  }



